<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd   
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <!--<context:component-scan base-package="ru.icl.test.dao" />-->
<!--    <tx:annotation-driven transaction-manager="txManager"/> 

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/rafael.chumarin"/>
        <property name="username" value="rafael.chumarin"/>
        <property name="password" value="p@ssw0rd"/>
    </bean>
    
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>-->
    
    <bean id="messageDao" class="ru.icl.test.dao.MessageDaoImpl"/>
    <bean id="userDao" class="ru.icl.test.dao.UserDaoImpl"/>        
    
    <bean id="filterbean" class="ru.icl.test.filters.MyFilter">
        <property name="filter_msgdao" ref="messageDao"/>
        <property name="filter_usrdao" ref="userDao"/>
    </bean>
    
    <bean id="allbean" class="ru.icl.test.servlets.AllMessage">
        <property name="msgdao" ref="messageDao"/>
        <!--<property name="usrdao" ref="userDao"/>-->
    </bean>
    
    <bean id="deletebean" class="ru.icl.test.servlets.DeleteMessage">
        <property name="delete_msgdao" ref="messageDao"/>
        <!--<property name="delete_usrdao" ref="userDao"/>-->
    </bean>
          
</beans>
